# Configuración de AWS S3 para U|Gallery
# Renombra este archivo a .env e introduce tus credenciales de AWS

AWS_ACCESS_KEY_ID=tu_aws_access_key_id
AWS_SECRET_ACCESS_KEY=tu_aws_secret_access_key
AWS_STORAGE_BUCKET_NAME=nombre_de_tu_bucket_s3
AWS_S3_REGION=us-east-1
